#ccd_shell_doc{
    --ccd-header-bg-color-overflow: 128px;
}

.ccd-logo-wrap {
    max-width: 220px;
}

.ccd_header{
    background-color: var(--ion-color-primary, #002D56);
    padding: 2rem 0;
}

.ccd_wrap{
    max-width: 900px;
    display: flex;
    flex-direction: column;
}
.ccd_main{
    background-color: var(--ion-background-color-step-50);
    background-image: linear-gradient(to bottom, var(--ion-color-primary, #002D56) 0, var(--ion-color-primary, #002D56) var(--ccd-header-bg-color-overflow, 128px), transparent var(--ccd-header-bg-color-overflow, 128px), transparent 100%);
    padding-block-end: 2rem;
    
    > .ccd_wrap{
        background-color: var(--ion-background-color, #ffffff);
        padding: 1rem 2rem;
        border-radius: 1rem;
   }
}


@media screen and (max-width: 992px) {
    .ccd_main > .ccd_wrap{
        margin: 0 1rem;
    }
    
}