<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Custom Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      
      <ion-col size="12" size-lg="4" size-md="5" size-sm="6" class="ccd_aside_col">
        <!-- ASIDE Content -->
         <aside class="ccd-filters ccd_form_group">
          
            <!-- Search Bar -->
          <div class="ccd_search_bar_wrap ccd_search_bar">
            <ion-input label="Search by Keyword" label-placement="stacked" fill="solid" placeholder="e.g. Street, Reception #, PLS #, 2024"></ion-input>
          </div>

            <!-- Second Filter Group -->
          <div class="form_control_group">
                  <ion-segment>
                    <ion-segment-button value="first" content-id="first">
                      <ion-label>Subdivision</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="second" content-id="second">
                      <ion-label>Land Survey</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="third" content-id="third">
                      <ion-label>Tie Book</ion-label>
                    </ion-segment-button>
                  </ion-segment>

                  <ion-segment-view>
                    <ion-segment-content id="first">
                      <ion-grid class="ion-no-padding ccd-form-padding">
                        <ion-row>
                          <ion-col>
                            <h6>TDR</h6>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="6">
                            <ion-input label="Quarter" label-placement="stacked" fill="solid" placeholder="Any"></ion-input>
                          </ion-col>
                          <ion-col size="6">
                            <ion-select label="Pick a fruit" label-placement="stacked" aria-label="Fruit" interface="popover" placeholder="Select fruit">
                              <ion-select-option value="apples">Apples</ion-select-option>
                              <ion-select-option value="oranges">Oranges</ion-select-option>
                              <ion-select-option value="bananas">Bananas</ion-select-option>
                            </ion-select>
                          </ion-col>
                          <ion-col size="6">
                            <ion-input label="Section" label-placement="stacked" fill="solid" placeholder="Any"></ion-input>
                          </ion-col>
                          <ion-col size="6">
                            <ion-input label="Township" label-placement="stacked" fill="solid" placeholder="Any"></ion-input>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                      <ion-grid class="ion-no-padding ccd-form-padding">
                        <ion-row>
                          <ion-col>
                            <h6>Reception Date</h6>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="6">
                            <ion-input label="Start Date" label-placement="stacked" fill="solid" placeholder="Any"></ion-input>
                          </ion-col>
                          <ion-col size="6">
                            <ion-input label="End Date" label-placement="stacked" fill="solid" placeholder="e.g. 34-2434"></ion-input>
                          </ion-col>
                        </ion-row>
                      </ion-grid>


                    </ion-segment-content>
                    <ion-segment-content id="second">
                      <ion-grid class="ion-no-padding ccd-form-padding">
                        <ion-row>
                          <ion-col>
                            <h6>TDR 2</h6>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="6">
                            <ion-input label="Quarter" label-placement="stacked" fill="solid" placeholder="Any"></ion-input>
                          </ion-col>
                          <ion-col size="6">
                            <ion-input label="Range" label-placement="stacked" fill="solid" placeholder="Any"></ion-input>
                          </ion-col>
                          <ion-col size="6">
                            <ion-input label="Section" label-placement="stacked" fill="solid" placeholder="Any"></ion-input>
                          </ion-col>
                          <ion-col size="6">
                            <ion-input label="Township" label-placement="stacked" fill="solid" placeholder="Any"></ion-input>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-segment-content>
                    <ion-segment-content id="third">
                      <ion-grid class="ion-no-padding ccd-form-padding">
                        <ion-row>
                          <ion-col>
                            <h6>Other Attributes</h6>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12">
                            <ion-input label="Subdivision Plat Type" label-placement="stacked" fill="solid" placeholder="Any"></ion-input>
                          </ion-col>
                          <ion-col size="12">
                            <ion-input label="Reception N" label-placement="stacked" fill="solid" placeholder="e.g. 34-2434"></ion-input>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-segment-content>
                  </ion-segment-view>

                <footer class="ccd-footer">
                        <ion-button fill="outline">Reset</ion-button>
                        <ion-button fill="solid">Apply Filters</ion-button>
                </footer>

            </div>
         </aside>
        <aside>
            <ion-card class="ccd_ion_select_card">

              <ion-card-header>
                <ion-card-title>Select</ion-card-title>
                <ion-card-subtitle>Form Control Fields</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <ion-select aria-label="Fruit" interface="popover" placeholder="Select fruit">
                  <ion-select-option value="apples">Apples</ion-select-option>
                  <ion-select-option value="oranges">Oranges</ion-select-option>
                  <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>
               </ion-card-content>
            </ion-card>

            <ion-card class="Ion Input Field">

              <ion-card-header>
                <ion-card-title>Input FIeld</ion-card-title>
                <ion-card-subtitle>Form Control Fields</ion-card-subtitle>
              </ion-card-header>
    
              <ion-card-content>
                
                <div class="ccd_form_group">
                  <ion-input label="Solid input" label-placement="stacked" fill="solid" placeholder="Enter text"></ion-input>
                    <br />
                  <ion-input label="Outline input" label-placement="stacked" fill="outline" placeholder="Enter text"></ion-input>
                </div>

              </ion-card-content>
            </ion-card>
        </aside>
      </ion-col>
      <!-- END OF ASIDE Content -->
    </ion-row>
  </ion-grid>
</ion-content>
