// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {

	--ccd-font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
    --ccd-font-size-base: 1rem; //16px
    --ccd-font-size-h1: 2.25rem; // 36px 
	--ccd-font-size-h2: 2rem; // 32px
	--ccd-font-size-h3: 1.5rem; // 24px
	--ccd-font-size-h4: 1.25rem; // 20px
	--ccd-font-size-h5: 1.125rem; // 18px
	--ccd-font-size-h6: 1rem; // 16px
	--ccd-line-height-base: 1.222; // Base line height
	--ccd-line-height-h6: 1.1875; // Line height for h6
	--ccd-font-weight-heading: 700; // Font weight for headings

    --ccd-size-xs2:2px;
    --ccd-size-xs1:4px;
    --ccd-size-xs:8px;
    --ccd-size-sm:16px;
    --ccd-size-base:var(--ccd-size-xs, 8px);
    --ccd-size-md:24px;
    --ccd-size-lg:32px;
    --ccd-size-xl:48px;
    --ccd-size-xl1:96px;


    --ion-grid-padding-xs: var(--ccd-size-xs, 8px);
    --ion-grid-padding-sm: var(--ccd-size-xs, 8px);
    --ion-grid-padding-md: var(--ccd-size-xs, 8px);
    --ion-grid-padding-lg: var(--ccd-size-xs, 8px);
    --ion-grid-padding-xl: var(--ccd-size-xs, 8px);
    --ion-grid-column-padding-xs: var(--ccd-size-xs, 8px);
    --ion-grid-column-padding-sm: var(--ccd-size-xs, 8px);
    --ion-grid-column-padding-md: var(--ccd-size-xs, 8px);
    --ion-grid-column-padding-lg: var(--ccd-size-xs, 8px);
    --ion-grid-column-padding-xl: var(--ccd-size-xs, 8px);

    --ion-padding:  var(--ccd-size-base, 8px);
    --ion-margin: var(--ccd-size-base, 8px);

    --ion-margin-top: var(--ccd-size-base, 8px);
    --ion-margin-bottom: var(--ccd-size-base, 8px);

    --ion-padding-top: var(--ccd-size-base, 8px);
    --ion-padding-bottom: var(--ccd-size-base, 8px);
    
    --ion-color-primary: #002D56;
	--ion-color-primary-rgb: 0,45,86;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #00284c;
	--ion-color-primary-tint: #1a4267;

	--ion-color-secondary: #0072C9; //CCD Denver Blue
	--ion-color-secondary-rgb: 0,114,201;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #005596;
	--ion-color-secondary-tint: #1a80ce;

	--ion-color-tertiary: #4F2683;
	--ion-color-tertiary-rgb: 79,38,131;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #462173;
	--ion-color-tertiary-tint: #613c8f;

	--ion-color-success: #2DD36F;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #FDC230;
	--ion-color-warning-rgb: 253,194,48;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #dfab2a;
	--ion-color-warning-tint: #fdc845;

	--ion-color-danger: #FC5757;
	--ion-color-danger-rgb: 252,87,87;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #de4d4d;
	--ion-color-danger-tint: #fc6868;

	--ion-color-light: #E5E5E5;
	--ion-color-light-rgb: 229,229,229;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #cacaca;
	--ion-color-light-tint: #e8e8e8;

	--ion-color-medium: #D5D5D5;
	--ion-color-medium-rgb: 213,213,213;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #bbbbbb;
	--ion-color-medium-tint: #d9d9d9;

	--ion-color-dark: #121212;
	--ion-color-dark-rgb: 18,18,18;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #101010;
	--ion-color-dark-tint: #2a2a2a;

	--ccd-color-white: #ffffff;
	--ccd-color-gray: #555555;
	--ccd-color-powder-blue: #E6F4FF;
	--ccd-color-lightblue: #F5FAFF;
	
	//Segment buttons and UI
	--color-checked: var(--ion-color-secondary, #0072C9);

	//Hightlight Stuff for forms
	--highlight-color-focused: var(--ion-color-secondary, #0072C9);
    --highlight-color-invalid: var(--ion-color-danger, #FC5757);
    --highlight-color-valid: var(--ion-color-success, #2DD36F);
	

}
