// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #0072C9;
	--ion-color-primary-rgb: 0,114,201;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #0064b1;
	--ion-color-primary-tint: #1a80ce;

	--ion-color-secondary: #0072C9;
	--ion-color-secondary-rgb: 0,114,201;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #0064b1;
	--ion-color-secondary-tint: #1a80ce;

	--ion-color-tertiary: #4F2683;
	--ion-color-tertiary-rgb: 79,38,131;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #462173;
	--ion-color-tertiary-tint: #613c8f;

	--ion-color-success: #2DD36F;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #FDC230;
	--ion-color-warning-rgb: 253,194,48;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #dfab2a;
	--ion-color-warning-tint: #fdc845;

	--ion-color-danger: #FC5757;
	--ion-color-danger-rgb: 252,87,87;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #de4d4d;
	--ion-color-danger-tint: #fc6868;

	--ion-color-light: #E5E5E5;
	--ion-color-light-rgb: 229,229,229;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #cacaca;
	--ion-color-light-tint: #e8e8e8;

	--ion-color-medium: #D5D5D5;
	--ion-color-medium-rgb: 213,213,213;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #bbbbbb;
	--ion-color-medium-tint: #d9d9d9;

	--ion-color-dark: #121212;
	--ion-color-dark-rgb: 18,18,18;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #101010;
	--ion-color-dark-tint: #2a2a2a;


		//Light Theme Defaults Colors
    --ion-background-color: #ffffff;
	--ion-background-color-rgb: 245,250,255;

	--ion-text-color: #002D56;
	--ion-text-color-rgb: 0,45,86;

	--ion-text-color-step-50: #0c375e;
	--ion-text-color-step-100: #194267;
	--ion-text-color-step-150: #254c6f;
	--ion-text-color-step-200: #315678;
	--ion-text-color-step-250: #3d6080;
	--ion-text-color-step-300: #4a6b89;
	--ion-text-color-step-350: #567591;
	--ion-text-color-step-400: #627f9a;
	--ion-text-color-step-450: #6e89a2;
	--ion-text-color-step-500: #7b94ab;
	--ion-text-color-step-550: #879eb3;
	--ion-text-color-step-600: #93a8bb;
	--ion-text-color-step-650: #9fb2c4;
	--ion-text-color-step-700: #acbdcc;
	--ion-text-color-step-750: #b8c7d5;
	--ion-text-color-step-800: #c4d1dd;
	--ion-text-color-step-850: #d0dbe6;
	--ion-text-color-step-900: #dde6ee;
	--ion-text-color-step-950: #e9f0f7;

	--ion-background-color-step-50: #e9f0f7;
	--ion-background-color-step-100: #dde6ee;
	--ion-background-color-step-150: #d0dbe6;
	--ion-background-color-step-200: #c4d1dd;
	--ion-background-color-step-250: #b8c7d5;
	--ion-background-color-step-300: #acbdcc;
	--ion-background-color-step-350: #9fb2c4;
	--ion-background-color-step-400: #93a8bb;
	--ion-background-color-step-450: #879eb3;
	--ion-background-color-step-500: #7b94ab;
	--ion-background-color-step-550: #6e89a2;
	--ion-background-color-step-600: #627f9a;
	--ion-background-color-step-650: #567591;
	--ion-background-color-step-700: #4a6b89;
	--ion-background-color-step-750: #3d6080;
	--ion-background-color-step-800: #315678;
	--ion-background-color-step-850: #254c6f;
	--ion-background-color-step-900: #184267;
	--ion-background-color-step-950: #0c375e;
}
